.about__container {
    @include flex();
    max-width: 850px;
    column-gap: 14.12%;
    row-gap: 80px;

    @media screen and (max-width: 900px) {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    @media screen and (max-width: $mobile) {
      width: 84%;
      row-gap: 42px;
    }
}
.about__text {
    @include flex();
    flex-direction: column;
    margin-top: 14px;
    gap: 25px;
    max-width: 430px;

    @media screen and (max-width: $table) {
        margin-top: 0;
    }
}

.about__title {
    max-width: 370px;

    @media screen and (max-width: $table) {
        max-width: 310px;
      }
}

.about__p {
    @media screen and (max-width: $table) {
        text-align: justify;
      }
}

.about__image {
    @media screen and (max-width: $mobile) {
        width: 95%;
      }
}