.footer {
    background: $background;
}

.footer__container {
    padding-top: 40px;
    @include flex();
    flex-wrap: wrap;
    row-gap: 65px;

    @media screen and (max-width: 984px) {
        justify-content: center;
        column-gap:65px;
      }
}

.contact-blocks {
    padding-top: 17px;
    max-width: 302px;
    @include flex();
    flex-direction: column;
    min-height: 248px;

    &:last-of-type {
        position: relative;
        right: 15px;
    }
}

.footer__title {
    color: $light-color;
}

.contact {
    position: relative;
    @include flex(flex-start, center);
    gap: 20px;
    @extend %font-title;
    color: $additional-color;
    font-size: 20px;
    line-height: 115%;
}
