.header {
    position: absolute;
    width: 100%;
}

.header__container {
    margin: 60px auto;
    @include flex(space-between, center);

    @media screen and (max-width: $table) {
        margin-top: 30px;
      }
}

.logo__h {
    margin-bottom: 8px;
    color: $additional-color;
    @extend %font-title;
    line-height: 35px;
    letter-spacing: 0.1em;
    font-size: 32px;
}

.logo__sub {
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0.1em;
}