.help {
    padding-bottom: 80px;
}

.help__title {
    max-width: 318px;
    text-align: center;
    margin: 0 auto 60px;
}

.help-icons {
    margin: 0 auto;
    @include flex(center);
    flex-wrap: wrap;
    column-gap: 11%;
    row-gap: 40px;
    max-width: 90%
}

.help-icon {
    @include flex(flex-start, center);
    flex-direction: column;
    gap: 5px
}

.help__subtitle {
    @extend %font-title;
    font-size: 20px;
}