.not-only {
    padding-bottom: 0;
    background: $background;
}

.not-only__container {
    padding-top: 100px;
    @include flex();
}

.not-only__text {
    margin-top: 163px;
    @include flex();
    flex-direction: column;
    gap: 42px
}

.not-only__title {
    @extend %font-title;
    max-width: 350px;
    font-size: 44px;
    color: $light-color;
    letter-spacing: 0.01em;
}

.not-only__subtitle {
    max-width: 460px;
    color: $dark-h-color;
}

.not-only__button {
    font-size: 20px;
}