.our-friends__container {
    @include flex(flex-start, center);
    flex-direction: column;
    gap: 60px;

    @media screen and (max-width: $table) {
        gap: $gap-mobile;
      }
}

.our-friend__title {
    max-width: 400px;
    text-align: center;
}
