.button {
    @extend %font-title;
    padding: 15px 45px;
    border-radius: 100px;
    border: none;
    transition: .3s;
    cursor: pointer;

    &_dark {
        background:  rgb(238, 187, 151);

    }

    &_light {
        background: transparent;
        border: 2px solid $additional-color;
    }

    &:hover {
        background: $additional-color
    }
}