.cards {
    @include flex();
    width: 100%;

    @media screen and (max-width: 620px) {
        justify-content: center;
    }

    &_pets {
        @media screen and (max-width: $table) {
            justify-content: center;
            gap: 30px 40px;
          }
    }
}

.card {
    @include flex(flex-start, center);
    gap: 8px;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #FAFAFA;
    cursor: pointer;
    transition: .3s;

    &:hover {
        transform: scale(1.05);
    }

    &:hover .button {
        background: $additional-color
    }

    &_hidden {
        @media screen and (max-width: $table) {
            display: none;
          }
    }

    &_hidden-mobile {
        @media screen and (max-width: 620px) {
            display: none;
          }
    }
}

.card__title {
    @extend %font-title;
    font-size: 20px;
}