.cards {
    @include flex();
    width: 100%;
}

.card {
    @include flex(flex-start, center);
    gap: 8px;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #FAFAFA;
    cursor: pointer;
    transition: .3s;

    &:hover {
        transform: scale(1.05);
    }

    &:hover .button {
        background: $additional-color
    }
}

.card__title {
    @extend %font-title;
    font-size: 20px;
}