.scroll {
    @include flex(space-between, center);
    width: 100%;
    gap: 4.42%;

    @media screen and (max-width: 800px) {
        gap: 12px;
      }
}

.scroll__arrow {
    @include flex(center, center);
    @extend %scroll-buttons;

    &_inactive {
        border-color: $dark-h-color;
        cursor: inherit;

        & > .scroll__svg {
            fill: $dark-h-color;
        }
    }
}

.scroll__svg {
    max-width: 14px;
    fill: $black-color;
}