.scroll {
    @include flex(space-between, center);
    width: 100%;
    gap: 53px
}

.scroll__arrow {
    @include flex(center, center);
    height: 52px;
    min-width: 52px;
    border: 2px solid $additional-color;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;

    &:hover:not(&_inactive) {
        background-color: $additional-color;
    }

    &_inactive {
        border-color: $dark-h-color;
        cursor: inherit;

        & > .scroll__svg {
            fill: $dark-h-color;
        }
    }
}

.scroll__svg {
    max-width: 14px;
    fill: $black-color;
}