.scroll {
    @include flex(space-between, center);
    width: 100%;
    gap: 4.42%;

    @media screen and (max-width: 800px) {
        gap: 12px;
    }

    @media screen and (max-width: 705px) {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "container container"
        "scrollLeft scrollRight";
        justify-items: center;
        row-gap: 16px;
        column-gap: 0;

        & > #scroll-left {
            grid-area: scrollLeft;
            max-width: 52px;
        }

        & > #scroll-right {
            grid-area: scrollRight;
            max-width: 52px;
        }

        & > .scroll__wrapper {
            grid-area: container;
        }
      }
}

.scroll__wrapper {
    width: 100%;
    overflow: hidden
}

.scroll__arrow {
    @include flex(center, center);
    @extend %scroll-buttons;

    &_inactive {
        border-color: $dark-h-color;
        cursor: inherit;

        & > .scroll__svg {
            fill: $dark-h-color;
        }
    }
}

.scroll__svg {
    max-width: 14px;
    fill: $black-color;
}