.title {
    @extend %font-title;
    font-size: $title-font;
    letter-spacing: 0.06em;

    @media screen and (max-width: $mobile) {
        font-size: $title-font-mobile;
        text-align: center;
    }
}

.subtitle {
    @extend %font-title;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-size: 15px;

    @media screen and (max-width: $mobile) {
        letter-spacing: 0;
    }
}