@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia'),
    url(/assets/fonts/georgia.ttf) format('ttf');
}

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: local('Arial'),
     url(/assets//fonts//arialmt.ttf) format('ttf');
}