$margin-center: 0 auto;
$line-height: 160%;
$additional-color: rgba(241, 205, 179, 1);
$light-color: #FFFFFF;
$dark-h-color: #CDCDCD;

%font-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}